<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.com">
<head th:include="fragments/headfragment :: headFragment">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Features-Vote Homepage</title>
</head>
<body>
<div class="container">
    <div class="row" style="margin-top: 2em;">
        <div class="col-9">
            <h1>Welcome to Homepage of Features-Vote</h1>
        </div>
        <div class="col-3">
            <button type="button" id="login" class="btn btn-primary btn-lg float-right">Login</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    let loginBtn = document.getElementById('login');
    loginBtn.addEventListener('click', function () {
        window.location.href = '/login';
    });
</script>
</body>
</html>