<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.com">
<head th:include="fragments/headfragment :: headFragment">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Features-Vote Homepage</title>
</head>
<body>
     <div th:replace="fragments/headfragment :: navbar"></div>
    <div class="container">
        <div class="row" style="margin-top: 2em;">
            <div class="col-9">
                <h1>Welcome to Homepage of Features-Vote</h1>
            </div>
        </div>
    </div>
</body>
</html>